html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

#skip {
  color: black;
  position: absolute;
  top: 0;
  right: 100%; /* moves off screen */
}

#skip:focus {
  right: auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em 7vw;
  background-color: #eee;
}

#navigation {
  width: 25%;
}

#navigation button {
  display: none;
}

/* This has higher specificity /
 * type -> class -> id */
/*#navigation ul {*/
  /*display: flex;*/
  /*justify-content: space-around;*/
/*}*/

.nav-links {
  display: block;
  display: inline-block;  padding: 0;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

#navigation ul li {
  list-style-type: none;
  display: inline-block;
}

@media(max-width: 768px) {
  #navigation button {
    display: block;
  }
  .nav-links {
    display: none;
  }

  #navigation ul li {
    display: block;
  }
}

/*
 *
 * This is kept below the media query
 * so that it would be the one on top of the cascade
 *
 */
.open {
  display: block;
  z-index: 50;
  width: 100vw;
  position: absolute;
  left: 0;
  text-align: center;
  top: 70px;
  background-color: white;
}

.open li {
  padding: 1em 0;
}

main {
  /*max-width: 60em;*/
  /*max-width: 60rem;*/
}

p {
  font-size: 1em;
  line-height: 1.48;
}

.hero {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-template-areas: 
  "hero_text" "image";
}

.hero_text {
  margin: auto 5vw;
  height: 40vh;
}

.hero figure {
  width: 60vw;
}

.cta {
  height: 30vh;
  display: flex;
  position: relative;
}

.cta_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.button {
  border: 1px solid #000;
  padding: 10px 10px;
  border-radius: 5px;
  color: #000;
  text-decoration: none;
}